body{
  text-align: center;
}
  .star{
    width: 20%;
  }
  .rectangle{
    width: 20%;
  }
  .circle{
    width: 20%;
  }
  .triangle{
    width: 20%;
  }
  .bar-nav{
    background-color: #C2FFF9;
  }
.images-icea{
  background-color: #9C19E0;
}
.details{
  background-color: #FFADAD;
}
.navbar-brand, .navbar-nav{
  margin: 2%;
}
.horizontal-nav{
  background-color: #000000;
  color: #fff;
}

.colored-section{
  color: #fff;
  text-align: left;
  /* padding: 3% 2%; */
}
/* Form Section */
#form{
  padding: 7% 1%;
}
.submit{
  margin-left: auto;
}
/* Footer */

.previous{
margin-left: auto;
  color: #113CFC;
}
.next{
  margin-right: auto;
  color: #113CFC;
}
.previous:hover{
  color: #E02401;
}
.next:hover{
  color: #E02401;
}
@media (min-width:560px){
  #footer{
    position: static;
  }

}
